body  {
    background: #eee;
}

html  {
    font-family: sans-serif;
    color: #04060d;
    letter-spacing: 0.1em;
}

.coloured-text {
    color: #324782;
    font-style: italic;
    font-weight: bold;
}

.site-header  {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
      ". title ."
      "nav subtitle ."; 
    background-color: #84A4FC;  
}

h1 {
    font-size: 3em;
    text-align: center;
    grid-area: title;
    margin-bottom: 0;
}

.header-subtitle  {
    font-size: 1.5em;
    text-align: center;
    grid-area: subtitle;
    margin-top: 0;
}

.header-subtitle li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 70px;
    color: #D3D4D7;
}

.main-container {
    display: grid;
    grid-template-columns: repeat (4, 200px);
}

grid-col-span-3  {
    grid-column: span 3;
}

.about-me {
    grid-column: 1;
}

.about-me-text {
    grid-column-start: 3;
}

.languages {
    grid-column: 3;
}

.languages-list {
    grid-column: 3;
}